body {
    background-color: #DFE0DF;
}

.navbar-home {
    background-color: #FFCE00;
}

.nav-link {
    margin-left: .1rem;
    margin-right: .1rem;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    font-size: 14px;
    transition: all .3s;
}

.nav-link:hover {
    background-color: #4C2F00;
    color: #ffffff;
}

.nav-link:visited {
    color: #ffffff;
}

.nav-link:active {
    color: #ffffff;
}

.search::placeholder {
    color: #DFE0DF;
}


.bi-search {
    color: #707070;
}

.btn-masuk {
    background-color: #4C2F00;
    color: #ffffff;
    width: 7em;
}

.btn-masuk:hover {
    border: 1px solid #4C2F00;
    color: #4C2F00;
    transition: .3s;
    font-weight: bold;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.name-account {
    color: #ffffff;
}

.avatar {
    width: 1.5em;
    border-radius: 50%;
}

.dropdown-item:hover {
    background-color: #4C2F00;
    color: #ffffff;
    transition: .3s;
}

.footer {
    font-family: 'Comfortaa', cursive;
    background-color: #4C2F00;
    color: #ffffff;
    font-weight: lighter;
}

.card-text-footer {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
}

.list-card-text {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    transition: all .3s;
}

.list-footer {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.list-item-footer {
    margin-top: 12px;
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
    transition: all .3s;
}

.list-item-footer:hover,
.list-card-text:hover {
    color: #FFCE00;
}

.heading {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.jumbotron {
    background-color: #ffffff;
    background: linear-gradient(45deg,
            #F3F4F8 45%,
            #FFCE00 100%);
}

.text-jumbotron {
    color: #4C2F00;
}

.btn-print {
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    background-color: #4C2F00;
    width: 50%;
    transition: all .3s;
}

.btn-print:hover {
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    background-color: #4C2F00;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

/* ANCHOR 👉 CONTENT INDEX */

.content-index {
    background-color: #ffffff;
}

.title-content {
    color: #4C2F00;
}

.title-sub-content {
    color: #707070;
}

.card-text-sub-content {
    bottom: 0;
    width: 100%;
    color: #4C2F00;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.card-content {
    border: none;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    transition: all .3s;
}

.card-content:hover {
    box-shadow: none;
    transform: scale(0.99);
    border: 1px solid #DFE0DF;
}